.login-form
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    background: #17568C
    form
        width: 300px
        height: auto
        text-align: center
        padding: 2rem
        background: #F3F3F3
        border-radius: .25rem
    button
        padding: .375rem 3rem
header
    background: #cccccc
    color: #777777
    .navbar-toggler-icon
        color: #ffffff
body
  background: #dddddd

.customer-form
    .card-header
        padding: 0
    h4
        padding: 20px 40px
        margin: 0
    input:required::placeholder
        color: deeppink !important

.tourist
    .card
        background: #eeeeee